html,body{
    margin:0; 
    padding:0; 
    color:black;
    overflow:hidden;
}
a#measure_button{
    color:green;
    font-size:2em;
    position:absolute;
    left:1%;
    top:10%;
}
#loadingScreen{
    position:absolute;
    left:40%;
    top:40%;
    color:green;
    font-size:1.5em;
   
}
#loadingScreen.done{
    display:none;
}
