# MacOS droppings
.DS_Store

# VSCode project file (don't share this for now to avoid
# extra commit chatter)
*.code-workspace

launch.json

# External assets repo
/assets/
assets

# Build output directories
/build/
/dist/

# Python droppings
/venv/
/3dvenv/
/__pycache__/
