# MacOS droppings
.DS_Store

# VSCode project file (don't share this for now to avoid
# extra commit chatter)
*.code-workspace

# PyCharm project clutter
.idea/

# Emacs droppings
*~
\#*

launch.json

# External assets repo
assets/

# Build output directories
/build/
/dist/

# Common virtual environment locations
/venv/
/3dvenv/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
