# MacOS droppings
.DS_Store

# VSCode project file (don't share this for now to avoid
# extra commit chatter)
*.code-workspace

launch.json


# Build output directories
/build/
/dist/
/assets/

# Python droppings
/venv/
/3dvenv/
/__pycache__/
